body{
 background-color: black;
 
 height:100%;
text-align: center;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.class
{
    text-align: center;
}
.abhi{
    padding-top: 90px;
}
.h4{
    text-align: center;
    margin-left: 600px;
}
    

